<launch>

  <arg name="gui" default="True" />

  <param name="use_gui" value="$(arg gui)" />
  <param name="rate" value="30" />

  <param name="storm_port" type="str" value="/dev/UART_storm" />
  <param name="storm_baudrate" type="int" value="115200" />

  <node name="taticoma_storm_controller" pkg="taticoma_storm_controller" type="taticoma_storm_controller" output="screen"/>

</launch>
