<launch>

    <include file="$(find dynamixel_setup)/launch/controller_manager.launch" />
    <include file="$(find dynamixel_setup)/launch/controller_spawner.launch" />

    <node name="taticoma_dynamixel_controller" pkg="taticoma_dynamixel_controller" type="dynamixel_controller" output="screen"/>

</launch>
