<launch>
  <arg name="gui" default="True" />
  <arg name="rvizconfig" default="$(find taticoma_description)/rviz_settings/display_model.rviz" />
  <arg name="model" default="$(find taticoma_description)/models/taticoma_gen_2.xacro" />


  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
  <param name="use_gui" value="$(arg gui)" />


  <!-- <rosparam param="source_list"> [taticoma_joint_publisher] </rosparam> -->
  
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" /> 

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>

