<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Smc.MBee.BootLoader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Smc.MBee.BootLoader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Smc.MBee.BootLoader.Properties.Settings>
            <setting name="FormMainLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FormMainSize" serializeAs="String">
                <value>700, 340</value>
            </setting>
            <setting name="ImageFileExt" serializeAs="String">
                <value>smcbin</value>
            </setting>
            <setting name="ImageFileFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="UseCtsRts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PortName" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="MbmLastAddress" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SkybeeLastAddress" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RestartModuleAfterUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BslHardwareMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BslDelayMs" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="BslAfterPing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BslUseXmlFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BslXmlFile" serializeAs="String">
                <value>bslsqn.xml</value>
            </setting>
            <setting name="ShowFlashEraseConfirmDlg" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowFalshEraseMenu" serializeAs="String">
                <value>False</value>
            </setting>
        </Smc.MBee.BootLoader.Properties.Settings>
    </userSettings>
  <!-- Подавление исключения при закрытии программы после отсоединения активного USB-COM порта. -->
  <runtime>
    <legacyUnhandledExceptionPolicy enabled="1"/>
  </runtime>
  <system.diagnostics>
    <switches>
      <add name="Blp" value="4" />
    </switches>
    <assert assertuienabled="true" logfilename="tracelog.txt" />
  </system.diagnostics>
  <applicationSettings>
    <Smc.MBee.BootLoader.Properties.Settings>
      <setting name="SkybeeNodeMinAddress" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SkybeeNodeTotal" serializeAs="String">
        <value>30</value>
      </setting>
    </Smc.MBee.BootLoader.Properties.Settings>
  </applicationSettings>
</configuration>